<link rel="stylesheet" type="text/css" href="/css/_footer.css">
<footer>
	<p>
		<i class="fas fa-copyright"></i> SwapnaPurandare || Created by SoumyadeepPaul & Paritosh
	</p>
</footer>
<script type="text/javascript" src="/js/_footer.js"></script>